*.log
.cache/
.idea/pynomedev.iml
pynome/__pycache__/__init__.cpython-35.pyc
pynome/__pycache__/__main__.cpython-35.pyc
pynome/__pycache__/database.cpython-35.pyc
pynome/__pycache__/ensembl.cpython-35.pyc
pynome/__pycache__/ensembldatabase.cpython-35.pyc
pynome/__pycache__/ftpHelper.cpython-35.pyc
pynome/__pycache__/genomedatabase.cpython-35.pyc
tests.log
tests/__pycache__/__init__.cpython-35.pyc
tests/__pycache__/context.cpython-35.pyc
tests/__pycache__/pynome_tests.cpython-35-PYTEST.pyc
tests/__pycache__/test_database.cpython-35-PYTEST.pyc
tests/__pycache__/test_ensemblDB.cpython-35-PYTEST.pyc
